<a href="https://colab.research.google.com/github/AjayNegi299/Electric_Vehicle_Analysis_Using_ETL_Process/blob/main/Electric_Vehicle_Sales_by_State_in_India.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.10)

In [ ]:
import pandas as pd

In [11]:
#Extract Data From kaggle Using Kaggle API
!kaggle datasets download -d mafzal19/electric-vehicle-sales-by-state-in-india

Dataset URL: https://www.kaggle.com/datasets/mafzal19/electric-vehicle-sales-by-state-in-india
License(s): CC0-1.0
Downloading electric-vehicle-sales-by-state-in-india.zip to /content
  0% 0.00/453k [00:00<?, ?B/s]
100% 453k/453k [00:00<00:00, 93.6MB/s]

In [12]:
#extract file from zipFile
import zipfile
zip_ref = zipfile.ZipFile('electric-vehicle-sales-by-state-in-india.zip')
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [13]:
import pandas as pd
df = pd.read_csv('electric-vehicle-sales-by-state-in-india.zip',na_values=['Not Available','unknown'])
df.head()

,Year,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
0,2014.0,jan,1/1/2014,Andhra Pradesh,ADAPTED VEHICLE,Others,Others,0.0
1,2014.0,jan,1/1/2014,Andhra Pradesh,AGRICULTURAL TRACTOR,Others,Others,0.0
2,2014.0,jan,1/1/2014,Andhra Pradesh,AMBULANCE,Others,Others,0.0
3,2014.0,jan,1/1/2014,Andhra Pradesh,ARTICULATED VEHICLE,Others,Others,0.0
4,2014.0,jan,1/1/2014,Andhra Pradesh,BUS,Bus,Bus,0.0

In [ ]:
#Check there is any Null Values in our Dataset
import pandas as pd
df.isnull().sum()

Year                 0
Month_Name           0
Date                 0
State                0
Vehicle_Class        0
Vehicle_Category     0
Vehicle_Type         0
EV_Sales_Quantity    0
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [9]:
import sqlalchemy as sal

# Replace with your actual database details
engine = sal.create_engine('postgresql://username:your_password@localhost:5432/postgres')

# Create a connection
conn = engine.connect()

In [9]:
df.to_sql('Electric_Vehicle_Sales', con=engine , index=False, if_exists = 'append')